.container-forms-footer {
    max-width: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7em;

    a {
        text-decoration: inherit;
        /* no underline */
        color: #4A5568;

    }

    button {
        margin-top: 15px;
    }
}

@media (max-width:600px) {
    a {
        font-size: .7em;
    }
}